main{
    background-color: #e1dfdc;
}

main p{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #7b6657;
    font-size: 20px;
}

main h1{
        font-size: 40px;
        font-family: 'Shrikhand', cursive;
        color: #7b6657; 
        text-align: center;
        border: 2px solid #7b6657;
        text-transform: uppercase;
        margin-bottom: 50px;
}
h2{
    text-align: center;
    font-family: 'Shrikhand', serif;
    color:#3a2e29;
    background-color: #ebe3d9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 30px;
}
main h3{
    text-align: center;  
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #7b6657;
    font-size: 25px;
}

.Christmas{
    float: left;
    text-align: center;
    padding-left: 6em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #7b6657;
}

.Halloween{
    float: right;
    text-align: center;
    padding-right: 9em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #7b6657;
}

.image-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;
    width: fit-content;
    margin: auto;
}

.image-container img{
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0.2, 0, 0.2);
}

.button{
    background-color:#ee7627;
    color: rgb(255, 255, 255);
    padding: 20px 30px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px; 
    position: absolute;
    margin-left: 0.5em;
    margin-top: 20em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.3s ease, backgrounp-color 0.3s ease;
}

.button:hover{
    transform: scale(1.1);
    background-color: #d56c25;
}

.button:active{
    transform: scale(1.3);
}

.video-and-birth-container {
    display: flex;
    align-items: center;
    justify-content: center; /* Align items to the left */
    gap: 215px; /* Reduced gap between video and coffee content */
    margin: auto; /* Optional: Adjust overall margins */
}

.video-container {
    position: relative;
    flex: 0 0 25%;
}

.video-container video {
    display: block;
    pointer-events: none;
    width: 89em; /* Makes the video responsive */
    height: 40em;
    aspect-ratio: 9 / 16; /* Ensures a rectangular shape */
    border: 2px solid #7b6657;
    border-radius: 20px;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0.2, 0, 0.2);
}


.video-text{
    position: absolute;
    font-size: 25px;
    font-weight: bold;
    border-radius: 5px;
    font-family: 'Bitter', serif;
    color: #3a2e29;
    margin-top: 30px;
    margin-left: 30px;
}

.hbutton{
    position: absolute;
    background-color: #ffffff; /* Darker brown */
    color: #7b6657;
    padding: 20px 30px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    margin-left: 14em;
    margin-top: 18em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.3s ease;
}

.video-container a:hover{
    color: #ecc3c2; 
}

div a:hover{
    color: #f3f76f; 
}

.hbutton:hover{
    transform: scale(1.1);
}

.hbutton:active{
    transform: scale(1.3);
}